
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Sample Twitter</title>
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon.png">
	<meta name=”viewport” content=”width=device-width, initial-scale=1”>
    <link rel="stylesheet" type="text/css" href="{% static 'tweetcss/style.css' %}">
</head>
<body>
	<div class="content">

		<header>
			<img class="header-icon" src="{% static 'images/post-default-icon.svg' %}">
			<h1>Tweet</h1>
		</header>

		<main>

			<!-- Sample Tweet 1 -->
			{% for postdata in post %}
			<div class="tweet">
				<div class="tweet-icon">
					<img src="{% static 'images/post-default-icon.svg' %}">
				</div>
				<div class="tweet-content">
					<div class="tweet-name-area">
						<a href="{% url 'tweetdetail' postdata.id %}"><span class="tweet-name">{{ postdata.name }}</span></a>
						<span class="tweet-created-at">{{postdata.created_at}}</span>
					</div>
					<p>{{postdata.text}}</p>
					{% if postdata.image != '' %}
					<img class="tweet-image" src="{{postdata.image_url|default_if_none:'#' }}">
<!--					<div class="tweet-image">{{postdata.image}}</div>-->
					{% endif %}
					<div class="tweet-buttons">
						<a href="{% url 'reply' postdata.id %}"><img class="tweet-reply" src="{% static 'images/comment.svg' %}"></a>
						<div class="tweet-reply-count">{{postdata.replycount}}</div>
						<img class="tweet-like" src="{% static 'images/heart.svg' %}">
						<div class="tweet-like-count">0</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</main>


		<div class="post-tweet-button">
			<a href="{% url 'posttweet' %}"><img src="{% static 'images/post-tweet.svg' %}"></a>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="twitter.js"></script>
</body>
</html>