<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Sample Twitter</title>
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon.png">
	<meta name=”viewport” content=”width=device-width, initial-scale=1”>
	<link rel="stylesheet" type="text/css" href="{% static 'tweetcss/style.css' %}"
</head>
<body>
	<div class="content">
		<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<header>
			<img class="header-back" src="{% static 'images/back.svg' %}">
			<h1>Post Tweet</h1>
			<button type="submit" class="header-button">Tweet</button>
		</header>

		<main>

		<!-- Post Tweet Form -->

		<div class="tweet-form">



<!--			{{form.as_p}}-->
			<div class="tweet-form-icon">
				<img src="{% static 'images/post-default-icon.svg' %}">
			</div>

			<div class="tweet-form-content">
				<div class="tweet-name">{{form.name}}</div>
				<div class="tweet-textarea" >{{form.text}}</div>

				<div class="tweet-form-image" style="width: 100%; border-style: none" >{{form.image}}</div>
			</div>
		</div>

		</main>
		</form>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="twitter.js"></script>
</body>
</html>